nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #9f8bf8;
  display: flex;
  justify-content: center;
}

nav button {
  background-color: transparent;
  border: none;
  color: rgb(35, 2, 51);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 8px; /* Optional: add some space between the buttons */
}

nav button:hover {
  background-color: #ddd;
  color: black;
}

div:first-child {
  padding-top: 64px; /* Change this value as needed */
  padding-bottom: 16px; /* Change this value as needed */
}

div:last-child {
  padding-bottom: 16px; /* Change this value as needed */
}






